.sass, h1{
    color: #28054f;
    font-weight: bold;
    font-size: 25px;
}

ul li{
    list-style-type: none;
    margin: 0 2rem;
    cursor: pointer;
}

h1{
    font-size: 60px;
}

.partTwo img{
    border-radius: 5;
    top: 20%;
    left: 15%;
}

button{
    border-radius: 5px;
    font-size: 10px;
}

.btn1{
    background-color: #0d6cff;
}

.btn2{
    background-color: #ff8700;
}

.btn3{
    background-color: #4CAF51;
}