@use 'partials/reset.scss';
@use 'partials/header.scss';
@use 'partials/transitions.scss';
@use 'partials/main.scss';




header{
    padding: 2rem 4rem;
    background-color: #6410c5;
    color: white;
}

main{
    margin: 10rem 0;
}

img{
    border-radius: 10%;
    box-shadow: 1px 5px 5px 3px rgba(0, 0, 0, 0.5)
}
